* {
    box-sizing: border-box;
    
}
html {
    font-size: 62.5%;
}
header {
    justify-content: center;
}
main, .inst, header {
    display: flex;
    flex-wrap: wrap;
}

.inst {
    border: 1px solid black;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}
#state, #stateB, #stateC, #stateD {
    display: flex;
    margin: auto;
}
.form1, .currentInstStatus {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    
}
#submit, #submitB, #submitC, #submitD {
    height: 20px;
    width: 40px;
    background-color: lightgray;
    border: black solid .5px;
}
.currentInstStatus {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    width: 200px;

}
h2 {
    width: 75%;
    font-size: 3rem;
    
}
h3 {
    text-decoration: underline;
}

#instStat, #runDate, #endDate, #initE, #instStatB, #runDateB, #endDateB, #initEB, #instStatC, #runDateC, #endDateC, #initEC, #instStatD, #runDateD, #endDateD, #initED {
    font-size: 1.2rem;
    font-weight: 800;
}